<% provide(:title, "Help") %>

<h1>Help</h1>
<p>This site is currently undergoing contruction. Please help yourself to the back key.</p>
<a href="www.google.com"><em>Here, try this site out!</em></a>
